@using FirstDotnetCoreMVC.Services.Math
@inject IMathService math
@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>@ViewData["Title"]</h1>

<p>Use this page to detail your site's privacy policy.</p>

<span style="display:none">@Startup.MyCon</span>

<email domain="ali.com">blaablaa</email>

<h2>@math.Math(3, 5)</h2>

<vc:sample count="3"></vc:sample>

@await Component.InvokeAsync("Sample",  4)